<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div th:fragment="footer">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h5><i class="fa fa-university"> AT CHOE</i></h5>
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-unstyled">
                                <li><a href="">Team</a></li>
                                <li><a href="">About</a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href="http://oblenergo.cv.ua/vakansiyi" class="nav-link pl-0"><i
                                class="fa fa-address-book fa-lg"> oblenergo</i></a></li>
                        <li class="nav-item"><a
                                href="https://www.facebook.com/%D0%90%D0%A2-%D0%A7%D0%B5%D1%80%D0%BD%D1%96%D0%B2%D1%86%D1%96%D0%BE%D0%B1%D0%BB%D0%B5%D0%BD%D0%B5%D1%80%D0%B3%D0%BE-2342932445783104/jobs/?ref=page_internal"
                                class="nav-link pl-0"><i class="fa fa-facebook fa-lg"> facebook</i></a></li>
                    </ul>
                    <br>
                </div>
                <div class="col-md-2">
                    <h5 class="text-md-right">Contact Us</h5>
                    <hr>
                </div>
                <div class="col-md-5">

                    <form action="#" th:action="@{/send}" th:object="${messageSend}" method="POST">
                        <div class="col-auto">
                        <fieldset class="form-group">
                            <input type="email" name="email" class="form-control ma" id="exampleInputEmail1"
                                   placeholder="Enter email">
                        </fieldset>
                        </div>
                        <div class="col-auto">
                        <fieldset class="form-group">
                            <textarea class="form-control" name="message" id="exampleMessage" placeholder="Message"></textarea>
                        </fieldset>
                        <fieldset class="form-group text-xs-right">
                            <button type="submit" class="btn btn-primary col-2 "> Send</button>
                            <a th:href="@{/messageForm}" class="btn btn-primary col-2"> Написати нам</a>
                        </fieldset>
<!--                            -->
                        </div>
                    </form>
                </div>
            </div>
            <div align="center">
                <h9 class="text-md-right"> © 2021 Copyright: @shd</h9>
                <hr color="#d8e6f3">
            </div>
        </div>
    </footer>
</div>
</body>
</html>