<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="page_content">
    <!-- Page Content -->
    <div class="container mt-3">
        <section class="py-4">
            <div class="container">
                <h1 class="fw-light">Список вакансій</h1>
                <p class="lead">За деталями звертайтесь у відділ кадрів або напишіть нам. З Вами зв`яжуться
                    найближчим часом.</p>
            </div>
        </section>
    </div>
</div>
</body>
</html>