<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header_css"/>
</head>

<body>
<div th:replace="fragments/navigation :: navigation">Navigation</div>
<section class="container mt-3">
    <div class="d-flex justify-content-center">
        <div class="row">
            <h3>Створити нову вакансію</h3>
            <form method="POST" action="#" th:action="@{new}" th:object="${vacancy}" class="mt-4 mb-4">
                <div class="col">
                    <input required type="text" name="department" placeholder="Департамент" class="form-control mb-4">
                    <div style="color: red" th:if="${#fields.hasErrors('department')}" th:erros="*{department}"></div>
                    <input required type="text" name="dyrekcija" placeholder="Дирекція" class="form-control mb-4">
                    <input required type="text" name="viddil" placeholder="Відділ" class="form-control mb-4">
                    <input required type="text" name="posada" placeholder="Посада" class="form-control mb-4">
                    <input required type="number" min="1" name="count" placeholder="Чисельність"
                           class="form-control mb-4">
                    <button type="submit" class="btn btn-info col-3"> Зберегти вакансию</button>
                </div>
            </form>
            <hr>
            <a class="text-center" th:href="@{/}"> Повернутися до списку вакансій</a>
            <hr>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer_scripts">Scripts</div>
</body>
</html>
