<!DOCTYPE html>
<html lang="ua" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <div th:replace="fragments/header :: header_css"/>
</head>
<body>
<div th:replace="fragments/navigation :: navigation">Navigation</div>
<section class="container">
    <div class="search-container">
        <h2>Список вакансій !</h2>
        <hr>
        <h3>Пошук</h3>
        <form method="get" action="search" class="row g-3 d-flex justify-content-center">
            <div class="col-auto">
                <input type="text" name="keyword" placeholder="Пошук посади" class="form-control mr-2"/>
            </div>
            <div class="col-auto">
                <input type="submit" value="Знайти" class="btn btn-success"/>
            </div>
        </form>
    </div>
    <hr>
    <div th:replace="fragments/tableVacansion :: table_vacansion">Table vacansion</div>
    <div th:replace="fragments/pagination :: pagination">Pagination</div>
    <hr>
    <a class="text-center" th:href="@{/}"> Повернутися до списку вакансій</a>
    <hr>
</section>
<div th:replace="fragments/footer :: footer">Footer</div>
<div th:replace="fragments/footer :: footer_scripts">Scripts</div>
</body>
</html>