<!DOCTYPE html>
<html lang="ua" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Vacansions</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<main>
    <div align="center">
        <h2>Список вакансій !</h2>
        <h3>Пошук</h3>
        <form method="get" action="/search">
            <input type="text" name="keyword"/>
            <input type="submit" value="Знайти"/>
        </form>
        <h2> </h2>
        <form>
            <table>
                <thead>
                <tr>
                    <th>№</th>
                    <th>Дирекція</th>
                    <th>Департамент</th>
                    <th>Відділ</th>
                    <th>Вакантна посада</th>
                    <th>Чисельність</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vacansion : ${vacansions}">
                    <td th:text="${vacansion.getId()}">id</td>
                    <td th:text="${vacansion.getDyrekcija()}">Дирекція</td>
                    <td th:text="${vacansion.getDepartment()}">Департамент</td>
                    <td th:text="${vacansion.viddil}">Відділ</td>
                    <td th:text="${vacansion.posada}">Вакантна посада</td>
                    <td th:text="${vacansion.getCount()}">Чисельність</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</main>
<footer>

</footer>
</body>
</html>