<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <div th:replace="fragments/header :: header_css"/>
</head>
<body>
<!--<div th:replace="fragments/navigation :: navigation">Navigation</div>-->
<!--<div th:replace="fragments/header :: header">Header</div>-->
<section class="container mt-3">
    <div class="d-flex justify-content-center">
        <div class="row">
            <h3> Редагування вакансії</h3>
            <hr>
            <form action="#" th:action="@{/update}" th:object="${vacansionForId}" method="POST">
                <input readonly type="number" name="id" th:value="${editVacansion.id}" id="id" placeholder="ID"
                       class="form-control mb-4 col-4">
                <input type="text" name="dyrekcija" th:value="${editVacansion.getDyrekcija()}" placeholder="Дирекція"
                       class="form-control mb-4 col-4">
                <input type="text" name="department" th:value="${editVacansion.getDepartment()}"
                       placeholder="Департамент"
                       class="form-control mb-4 col-4">
                <input type="text" name="viddil" th:value="${editVacansion.getViddil()}" placeholder="Відділ"
                       class="form-control mb-4 col-4">
                <input type="text" name="posada" th:value="${editVacansion.getPosada()}" placeholder="Посада"
                       class="form-control mb-4 col-4">
                <input type="number" name="count" th:value="${editVacansion.getCount()}" placeholder="Чисельність"
                       class="form-control mb-4 col-4">
                <input type="text" name="status" th:value="${editVacansion.isStatus()}" placeholder="Статус"
                       class="form-control mb-4 col-4">

                <button type="submit" class="btn btn-info col-5"> Зберегти вакансию</button>
            </form>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer">Footer</div>
<div th:replace="fragments/footer :: footer_scripts">Scripts</div>
</body>
</html>