<!DOCTYPE html>
<html lang="ua" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <div th:replace="fragments/header :: header_css"/>
</head>
<body>
<div th:replace="fragments/navigation :: navigation">Navigation</div>
<div th:replace="fragments/header :: header">Header</div>

<section class="container mt-3">
    <div class="search-container">
        <br>
        <form method="get" action="searchVacancy" class="row g-3 d-flex justify-content-center">
            <div class="col-auto">
                <input type="text" name="keyword" placeholder="Пошук посади" class="form-control mr-2"/>
            </div>
            <div class="col-auto">
                <input type="submit" value="Знайти" class="btn btn-success"/>
            </div>
        </form>
        <hr>
        <h4> Створити нову вакансію</h4>
        <a th:href="@{/create}" class="btn btn-primary col-2"> Створити</a>
        <hr>
    </div>
    <form>
        <table class="table table-striped table-hover table-bordered table-light">
            <thead>
            <tr class="text-center">
                <th>№</th>
                <th>Дирекція</th>
                <th>Департамент</th>
                <th>Відділ</th>
                <th>Вакантна посада</th>
                <th>Чисельність</th>
                <th>Дата створення</th>
                <th>Статус</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vacansion : ${result}">
                <td class="text-center" th:text="${vacansion.getId()}">id</td>
                <td th:text="${vacansion.getDyrekcija()}">Дирекція</td>
                <td th:text="${vacansion.getDepartment()}">Департамент</td>
                <td th:text="${vacansion.viddil}">Відділ</td>
                <td th:text="${vacansion.posada}">Вакантна посада</td>
                <td class="text-center" th:text="${vacansion.getCount()}">Чисельність</td>
                <td class="text-center" th:text="${vacansion.getCreated_on()}">Дата створенння
                </td>
                <td class="text-center" th:text="${vacansion.status}">Статус</td>
                <td class="text-center">
                    <a th:href="@{/update/{id}(id=${vacansion.getId()})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/delete/{id}(id=${vacansion.getId()})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:replace="fragments/pagination :: pagination">Pagination</div>
        <div class="col-auto">
            <hr>
            <a class="text-center" th:href="@{/}"> Повернутися до списку вакансій</a>
            <hr>
        </div>
    </form>
</section>

<div th:replace="fragments/footer :: footer">Footer</div>
<div th:replace="fragments/footer :: footer_scripts">Scripts</div>
</body>
</html>